@import "reset.css";
body{
    background-color: rgb(19, 19, 19);
}
.wrapper {
	padding: 2rem;
	margin: 0 auto;
	.container {
		display: flex;
        justify-content: space-between;
		gap: 0.5rem;
		.img-card {
			height: 30vw;
            width: 10%;
            opacity: 0.1;
            border-radius: 10px;
            transition: 0.5s;
            cursor: pointer;
            &:hover{
                opacity: 0.5;
            }
		}
        .img-card__active{
            width: 80%;
            transition: 0.5s;
            opacity: 1;
        }
	}
}
